@model Northwind.Models.Produtos

@{
    ViewData["Title"] = "";
}

<h1>Detalhes do produto</h1>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
